

header {
    padding: 20px;
    color: black;
    background: lightgray;
    width: 100%;

}

h1 {
    color: blue;
    font-style: initial;
    font-weight: bold;

}

h2 {
    color: blue;
    font-style: initial;
    font-weight: bold;

}

h3 {
    color: blue;
    font-style: initial;
    font-weight: bold;

}












